<template>
  <v-container fluid>

    <v-row>
      <v-col>
        <p class="display-1">Your Ranking</p>
        <p class="font-italic font-weight-light">Here's your ranking</p>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card tile>
          <v-list one-line>
            <template v-for="ranking in rankingUser">
              <v-list-item :key="ranking.username">
                <v-list-item-content>
                  <v-list-item-title v-text="ranking.username"></v-list-item-title>
                  <v-list-item-subtitle v-text="ranking.user_score"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <p class="display-1">Ranking</p>
        <p class="font-italic font-weight-light">Here's the Top 20</p>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card tile>
          <v-list three-line>
            <template v-for="ranking in rankingsTop20">
              <v-list-item :key="ranking.username">
                <v-list-item-content>
                  <v-list-item-title v-text="ranking.username"></v-list-item-title>
                  <v-list-item-subtitle v-text="ranking.user_score"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
    import {RepositoryFactory} from "./../../repositories/RepositoryFactory";

    const RankingsTop20Repository = RepositoryFactory.get('rankingsTop20');
    const RankingUserRepository = RepositoryFactory.get('rankingUser');


    export default {
        name: "Ranking",
        data: () => ({
            rankingsTop20: [],
            rankingUser: [],            
            snackbarText: '',
            snackbar: false,
        }),

        created() {
            this.fetchData();
        },

        methods: {
            fetchData() {
                RankingsTop20Repository.get()
                    .then(response => {
                        if (response.status === 200) {
                            this.rankingsTop20 = response.data;
                        } else {
                            throw Error("Failed loading rankings.");
                        }
                    })
                    .catch(() => {
                        this.showSnackbar("Failed loading rankings.");
                    });

                RankingUserRepository.get()
                    .then(response => {
                        if (response.status === 200) {
                            this.rankingUser = response.data;
                        } else {
                            throw Error("Failed loading rankings.");
                        }
                    })
                    .catch(() => {
                        this.showSnackbar("Failed loading rankings.");
                    });
            },         

            showSnackbar(text) {
                this.snackbarText = text;
                this.snackbar = true;
            },
        }
    }
</script>

<style scoped>
    .v-list-item__action--stack {
        flex-direction: row;
    }
</style>